# Ignore Python virtual environment
.venv/
iagent/
# Ignore environment variables file
.env

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore OS-specific files
.DS_Store
Thumbs.db
